*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    box-sizing: border-box;
    background-color: #fff;
    font-size: 24px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    position: relative;
    min-height: 100%;
    /* scroll-behavior: smooth; */
}
@media (min-width: 48em) {
    html {
        font-size: 24px
    }
}

a {
    color: #52adc8;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    padding-bottom: 4em;
    color: #494e52;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    line-height: 1.5
}

::-moz-selection {
    color: #fff;
    background: #aaa
}

::selection {
    color: #fff;
    background: #aaa
}

article,
details,
figure,
footer,
header,
main,
section {
    display: block
}

img {
    max-width: 100%;
    max-height: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
    pointer-events:none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}

h1,
h2 {
    line-height: 1.2;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-weight: bold
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.3em
}

h2 {
    font-size: 1em
}

p {
    margin-bottom: 1.3em
}


@-webkit-keyframes intro {
    0%   { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes intro {
    0%   { opacity: 0 }
    100% { opacity: 1 }
}

hr {
    display: block;
    margin: 1em 0;
    border: 0;
    border-top: 1px solid #d3d3d3
}

ul li,
ol li {
    margin-bottom: 0.5em;
    font-size: .7em;
}

li ul,
li ol {
    margin-top: 0.5em
}


b,
i,
strong,
em,
p,
q,
span,
figure,
img,
h1,
h2,
header,
a,
tr,
td {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.hidden {
    max-height: 0;
    margin-bottom: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
  
.visible {
    max-height: 300px;  /* large enough */
    transition: max-height 0.3s ease-in;
}

#toggleButton {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

#toggleButton.rotated {
    transform: rotate(90deg);
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px !important;
    width: 1px !important;
    border: 0 !important;
    overflow: hidden
}

body:hover .visually-hidden a,
body:hover .visually-hidden button {
    display: none !important
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.text-justify {
    text-align: justify
}

.text-nowrap {
    white-space: nowrap
}

.cf {
    clear: both
}

.wrapper {
    max-width: 925px;
    margin-left: auto;
    margin-right: auto
}

.wrapper:after {
    content: " ";
    display: block;
    clear: both
}

.align-left {
    display: block;
    margin-left: auto;
    margin-right: auto
}

@media (min-width: 37.5em) {
    .align-left {
        float: left;
        margin-right: 1em
    }
}

.align-right {
    display: block;
    margin-left: auto;
    margin-right: auto
}

@media (min-width: 37.5em) {
    .align-right {
        float: right;
        margin-left: 1em
    }
}

.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto
}

@media (min-width: 57.8125em) {
    .full {
        margin-right: -19.4915254237% !important
    }
}

.icon {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    line-height: 1;
    position: relative;
    /* top: -0.1em; */
    vertical-align: middle;
    pointer-events:none;
}

.icon::selection {
    background: inherit;
}


.table-with-border {
    border-collapse: collapse;
    border: 2px solid black;
    margin: 0 auto;
}

.table-with-border td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.table-with-border th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

table {
    /* width: 100%; */
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    /* font-size: .9em; */
    /* border-collapse: collapse; */
    /* border: 1px solid #bdc1c4 */
}

.game-table {
    border-collapse: collapse;
    margin: 0 auto;
}

.game-table td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

thead {
    background-color: #f2f3f3;
    border-bottom: 1px solid #bdc1c4
}

th {
    padding: 0.5em;
    font-weight: bold;
    text-align: left;
}

tr,
td,
th {
    vertical-align: top;
    text-align: left;
}

.masthead {
    position: relative;
    border-bottom: 1px solid #cdcdcd;
    padding: 1em;
    font-size: 20px;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.masthead-left {
    display: flex;
    align-items: center;
}

.masthead small {
    font-size: .8em;
}

.masthead h1 {
    font-size: 1.5em;
}

#main {
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    margin-top: 1em;
    padding-left: 2em;
    padding-right: 1em;
    animation: intro 0.3s both;
    animation-delay: 0.35s;
}

@media (min-width: 57.8125em) {
    .page {
        width: 95%;
        float: left;
        margin: 0 auto;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 3.5em;
    }
}

.page_footer {
    clear: both;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    width: 100%;
    position: absolute;
    bottom: 0em;
    height: auto;
    color: #9ba1a6;
    -webkit-animation: intro 0.3s both;
    animation: intro 0.3s both;
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
    background-color: #f2f3f3;
    border-top: 1px solid #bdc1c4
}

.page_footer footer {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    max-width: 100%;
    padding: 0 1em 1em
}

.page_footer-copyright {
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: .6875em
}

.article {
    padding-right: 12%;
    margin-bottom: .5em;
    margin-top: .5em;
    /* font-size: smaller; */
}

.full-article {
    font-size: smaller;
}

.full-article li {
    font-size: inherit;
}

.title {
    font-weight: bold;
    margin-bottom: .2em;
}

.title a {
    color: inherit;
}

.title a:hover {
    color: #888888;
}

.date {
    padding-left: 20px;
    color: #aaaaaa;
    float: right;
    margin-right: 1em;
}

.date::before {
    content: '🗓️ ';
}

.readmore {
    display: inline-block;
    font-size: 12px;
    color: #444;
    padding: 5px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    vertical-align: middle;
}

.readmore:hover {
    background-color: #ffffff;
    border-bottom-color: #52adc8;
}

.readmore a {
    color: #444;
    text-decoration: none;
    cursor: default;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    /* max-width: 80%; */
    max-height: 95%;
    overflow: auto;
    position: relative;
}

.popup-content {
    max-height: 100%;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.showall {
    display: inline-block;
    font-size: 12px;
    color: #444;
    margin-left: 1em;
    padding: 5px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    /* vertical-align: middle; */
    /* margin-bottom: 1em; */
}

.showall:hover {
    background-color: #ffffff;
    border-bottom-color: #52adc8;
}

.page_button {
    display: inline-block;
    font-size: 12px;
    color: #444;
    margin-left: 1em;
    padding: 5px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    vertical-align: middle;
}

.page_button:hover {
    background-color: #ffffff;
    border-bottom-color: #52adc8;
}

.article_count {
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
}

.article_count::before {
    content: '(共 ';
}

.article_count::after {
    content: ' 篇)';
}

.cur_page {
    font-size: 12px;
    font-weight: normal;
    margin-left: 1em;
    vertical-align: middle;
}

.cur_page::before {
    content: '第 ';
}

.cur_page::after {
    content: ' / ';
}

.page_count {
    font-size: 12px;
    font-weight: normal;
    margin-right: 1em;
    vertical-align: middle;
}

.page_count::after {
    content: ' 页';
}

.cover {
    display: none;
}

.tooltip-text {
    visibility: hidden;
    width: 30em;
    background-color: inherit;
    z-index: 1;
    font-size: small;
    position: absolute;
}

.tooltip-btn {
    vertical-align: top;
    background-color: inherit;
    border: none;
    font-size: 8px;
}

.avatar {
    width: 95px;
    border-radius: 50%;
}

.image-container {
    position: relative;
    display: none;
    margin: 10px 0;
    text-align: center;
}

.code-container {
    position: relative;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.5em;
    margin: 1em 0;
    overflow: auto;
    font-size: 0.9em;
}

.code-container pre {
    margin: 0;
    font-family: Consolas, "Courier New", monospace;
    white-space: pre;
    overflow-x: auto;
}

code {
    border-radius: 4px;
    font-family: Consolas, "Courier New", monospace;
    font-size: 0.9em;
    overflow-x: auto;
}

.music_player {
    text-align: center;
    margin: -8px 20px -8px 0;
}

.music_controller {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lyrics {
    font-size: 12px;
    width: 210px;
    text-align: center;
}

.rotate {
    animation: rotateAnimation 30s linear infinite;
    animation-play-state: paused;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.dash {
    stroke: black;
    stroke-width: 2;
    stroke-dasharray: 10,5;
}
.node {
    fill: black;
    stroke: black;
    stroke-width: 2;
}
.red-node {
    fill: red;
    stroke: red;
    stroke-width: 2;
}
.blue-node {
    fill: blue;
    stroke: blue;
    stroke-width: 2;
}
.text {
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-anchor: middle;
}
.red-text {
    fill: red;
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-anchor: middle;
}
.blue-text {
    fill: blue;
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-anchor: middle;
}

.Paper {
    display: inline-block;
    color: white;
    padding: .3em;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    vertical-align: middle;
    background-color: black;
    margin-left: 1em;
}

.CCFA {
    background-color: #ffd700;
}

.CCFB {
    background-color: #c0c0c0;
}

.CCFC {
    background-color: #cd7f32;
}

.CCFNONE {
    background-color: #6c757d;
}

.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}

.spinner {
    border: 4px solid #d4d4d4;
    border-top: 4px solid #52adc8;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

.loading-text {
    margin-left: 10px;
    vertical-align: middle;
    color: #d4d4d4;
    font-size: 16px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.music_selector {
    position: absolute;
    max-height: 200px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    display: none;
    z-index: 1000;
    right: 0;
    border-radius: 5px;
}

.music_line {
    cursor: pointer;
    font-size: 12px;
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.music_line:hover {
    background-color: #f0f0f0;
}