body {
    color: #ececec;
    background-color: black;
}

.column {
    background: #2b2b2b;
    box-shadow: 0 0.1vw 0.3vw rgb(120, 120, 120);       /* dark mode white shadow */
}

.basic-item {
    background: #2b2b2b;
    box-shadow: 0 0.1vw 0.3vw rgb(120, 120, 120);
}

.flex-information {
    background: #2b2b2b;
    box-shadow: 0 0.1vw 0.3vw rgb(120, 120, 120);
}

.button {
    background-color: black;
}

.masthead {
    background-color: #1a1a1a
}

footer {
    background-color: #111111;
}