body {
    color: #494e52;
    background-color: #fff;
}

.column {
    background: #fff;
    box-shadow: 0 0.1vw 0.3vw rgba(0, 0, 0, 0.1);       /* dark */
}

.basic-item {
    background: #fff;
    box-shadow: 0 0.1vw 0.3vw rgba(0, 0, 0, 0.1);
}

.flex-information {
    background: #fff;
    box-shadow: 0 0.1vw 0.3vw rgba(0, 0, 0, 0.1);
}

.button {
    background-color: black;
}

.masthead {
    background-color: #fafafa;
}

footer {
    background-color: #f2f3f3;
}