body {
    color: #494e52;
    background-color: #fff;
}

.column {
    background: #fff;
}

.basic-item {
    background: #fff;
}

.flex-information {
    background: #fff;
}

.button {
    background-color: black;
}

.masthead {
    background-color: #fafafa;
}

footer {
    background-color: #f2f3f3;
}